.header {
  padding: 0 24px;
  margin: 0 auto;
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-family: "Cormorant Garamond", serif;
  font-size: 28px;
  font-weight: 500;
  color: #3b3531;
}

.logo_icon {
  width: 30px;
  height: 30px;
  fill: #cfaf9f;
  transition:
    fill 0.3s ease,
    transform 0.3s ease;
}

.logo:hover .logo_icon {
  fill: #3b3531;
  transform: rotate(15deg);
}

.nav_list {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.nav_item {
  position: relative;
  display: flex;
  align-items: center;
}

.nav_link {
  font-size: 14px;
  font-weight: 500;
  color: #716963;
}

.header_button {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #3b3531;
  background-color: #e6d0c3;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 999px;
  border: none;
  height: 46px;
}

.sparkle {
  fill: #cfaf9f;
  transition:
    transform 0.3s ease,
    fill 0.3s ease;
}

.sparkle:hover {
  fill: #b89482;
  transform: rotate(15deg) scale(1.08);
}

.active::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #cfaf9f;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger {
  fill: #3b3531;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1240px) {
  .menu {
    display: none;
  }
}
